[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = {version = "*", index = "https://mirrors.aliyun.com/pypi/simple"}
flask-sqlalchemy = {version = "*", index = "https://mirrors.aliyun.com/pypi/simple"}
mysqlclient = {version = "*", index = "https://mirrors.aliyun.com/pypi/simple"}
faker = {version = "*", index = "https://mirrors.aliyun.com/pypi/simple"}

[dev-packages]

[requires]
python_version = "3.8"
